doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title CVSite | Antonio Villagra De La Cruz
	
		link(href="#{locals['dist/app.css'].substr(5)}" rel="stylesheet")
		script(src="#{locals['dist/app.js'].substr(5)}")

	body
		// Info Page
		div.page#info-page
			img.profile-picture(src="img/#{locals.picture}" alt="Profile Picture")

			p.profile-name #{locals.name}
			p.profile-title #{locals.title}

			ul.profile-links
				each link in locals.links
					li
						a(href="#{link.url}")
							img(src="img/logo/#{link.img}" alt="#{link.alt}")
			
			p.about-link
				a(href="#about-page") About

		// About Page
		div.page#about-page

			p.about-summary #{locals.summary}

			ul.about-container#about-education
				each education in locals.education
					li(id="about-education-#{education.id}")
						p.about-container-title 
							img(src="img/education/#{education.img}")
							span #{education.school}
						p.about-container-subtitle #{education.degree}
						p.about-container-content #{education.description}

			ul.about-container#about-experience
				each experience in locals.experience
					li(id="about-experience-#{experience.id}")
						p.about-container-title 
							img(src="img/experience/#{experience.img}")
							span #{experience.position}
						p.about-container-subtitle #{experience.company}
						p.about-container-content #{experience.description}

			ul.about-container#about-interests
				each interest in locals.interests
					li(id="about-interests-#{interest.id}")
						p.about-container-title 
							img(src="img/interests/#{interest.img}")
							span #{interest.name}
						p.about-container-subtitle 
						p.about-container-content #{interest.description}

			p.skills-link
				a(href="#skills-page") Skills

		// Skills Page
		div.page#skills-page

			ul.skills-filters
				each filter in locals.skills.map((e) => e.type).reduce((p, c) => { if (p.indexOf(c) < 0) p.push(c); return p;}, []).sort()
					li(id="filter-#{filter}" class="#{filter}") #{filter}

			ul.skills-cloud
				each skill in locals.skills.sort(() => 0.5 - Math.random())
					li(id="skill-#{skill.name.replace(/ |\/|\+/g, '').toLowerCase()}" class="#{skill.type}") #{skill.name} 

			each skill in locals.skills
				div.skill-popup(id="description-#{skill.name.replace(/ |\/|\+/g, '').toLowerCase()}")
					p.skill-name #{skill.name}
					p.skill-level #{skill.level}
					p.skill-description #{skill.description}

		// Footer
		div.footer
			span.copyright ©2016 Antonio Villagra De La Cruz
			span.license 
				a(href="https://github.com/AntonioVdlC/CVsite/") MIT Licence
